div.box
{
  width: 90%;
  margin: auto;
  padding: 10px;
  border: 1px dashed green;
  background: lightyellow;
}

h1,h2,h3,h4
{
  font-weight: normal;
}

h1
{
  font-size: 250%;
}

a:link, a:visited
{
  color: green;
  text-decoration: none;
}

a:hover
{
  color: teal;
}

#content
{
  padding: 0.75em;
  background: white;
  font-size: medium;
  color: black;
}

#centrewrap
{
  max-width: 50em;
  min-width: 10em;
  margin: 0 auto;
  background: #234f32;
  padding: 0.5em;
  color: white;
}

#banner
{
  padding: 1px;
  background: white;
  text-align: center;
  color: black;
}

#footer
{
  font-size: small;
}

#footer a:link, #userinfo a:link, #footer a:visited, #userinfo a:visited
{
  color: greenyellow;
}

#footer a:hover, #userinfo a:hover
{
  color: teal;
}

#userinfo
{
  font-size: small;
}

body
{
  font-family: ubuntu, 'Ubuntu', helvetica, sans-serif;
  background: #092e20;
}

table.centre
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
table.centre tr:nth-child(even)
{
  background-color: moccasin;
}
input.button
{
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

textarea
{
  width: 100%;
  height: 10em;
  font-family: ubuntu, 'Ubuntu', sans-serif;
  border: 3px solid green;
}

form ul.errorlist li, form ul.errorlist
{
  display: inline;
  padding: 0px;
  color: red;
}
