{% extends "base.html" %}
{% block content %}
<h2>About</h2>
<p>EmOntoTag allows conference attendees to tag the presentations
they're attending with terms from the 
<a href="http://code.google.com/p/emotion-ontology">Emotion Ontology</a>
and to record how well those terms describe their emotions. The data collected 
by this website will be used to assess the utility of the ontology.</p>
<p>The Emotion Ontology was created by Janna Hastings and colleagues at the 
Universities of Geneva and Buffalo.</p>
<p>This website was designed by Colin Caine, Janna Hastings and Robert Stevens 
and written by Colin Caine and Janna Hastings. Janna Hastings is providing 
hosting and Dr Stevens is paying me (Colin), which is nice.</p>
{% endblock %}
