{% extends "base.html" %}
{% block content %}
<h2>Privacy policy</h2>
<p>The data collected by this website will be used as a case study in an 
assessment of the 
<a href="http://code.google.com/p/emotion-ontology">Emotion Ontology</a>.</p>

<p>We will record tags that you apply to presentations, your ratings for the 
degree of the emotion and your rating of how well you feel the term matched 
your emotion as well as associated meta data, such as the time that you applied 
the tag.</p>

<p>All user actions will be anonymized and subsequent publication of the 
results of this experiment will anonymize conference presentations  unless the 
presenter grants permission for their presentation to be identified.</p>

<p>All data will be stored on a secure server administered by the University 
of Geneva.</p>

<h2>Cookie policy</h2>
<p>This website uses session cookies to record login status and to protect 
against cross-site request forgery (CSRF) only.</p>
{% endblock %}
